* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-color: white;
  color: gray;
  margin: 0;
}

#users-text {
  margin: 1rem;
}

nav {
  display: flex;
  background-color: dodgerBlue;
  color: white;
  justify-content: space-between;
  padding: 0.5rem 10rem 0.5rem 1rem;
  align-items: center;
}

.nav-title {
  font-size: 1.5rem;
}

.nav-users {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: white;
}

.form {
  border: 1px solid black;
  width: 500px;
  margin: auto;
  padding: 1rem;
  border-radius: 3px;
}

.form .field {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.buttons {
  text-align: center;
}

#saveButton {
  background-color: dodgerBlue;
  color: white;
  border: solid 1px black;
}

#nameFirst,
#nameLast,
#departmentSelect {
  width: 70%;
}

#userCards div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card {
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 2rem);
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  margin: 1rem;
}

@media (max-width: 400px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav div {
    display: flex;
    padding: 5px;
  }

  .form {
    border: 1px solid black;
    width: 90%;
    margin: auto;
    padding: 0 1rem 1rem;
    border-radius: 3px;
  }

  .form .field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #clearButton {
    background-color: white;
    border: none;
  }

  input,
  select {
    border: none;
    appearance: none;
    width: 90%;
  }
}
